<div>
    <h1><%= category %></h1>
</div>

<div>
    <a href="/<%= category %>/new">
        <h2 class="Make">スレッド作成</h2>
    </a>

    <% threads.forEach(thread => { %>
        <div>
            <a href="/<%= category %>/<%= thread.title%>">
                <h3><%= thread.title %></h3>
            </a>
        </div>
    <% }) %>
</div>